<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Form</title>
</head>
<div class="Container">
    <h2 style="color: black; font-size: large;padding: auto;">
        LogIn
    </h2>
</br>
    </br>
    <form action=" " name="LogIn">
        <lable for="UserName"> User Name</lable>
        <input type="text" name="userName" id="UserName"/>
        </br>
        </br>
        <lable for="Password"> Password</lable>
        <input type="Password" name="Password" id="Password"/>
        </br>
        </br>
        <button type="submit">LogIn</button>
        </br>
        </br>
        <button type="submit">Cancel</button>
        </br>
        </br>
        <a href="forgetPw.html">Forgot Password?</a>
        </form>
    </div>
<!--<link rel="stylesheet" href="style.css"/>-->
<script src="v1.js"></script>\

</body>
</html>