<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>Registration Form </title>
    <link rel ="Stylesheet" href=" style.css">
</head>

<body>
<div class="container">
    <h2>
        Registration Form
    </h2>
    <br>
    <br>
<center>
    <form action ="LogIn Form.html" id="f" method =post onclick="return Validate()">
        <div id="d1">
            <lable for="Firstname ">First Name </lable>
            <input type="text" name="firstname" id="firstname"/>
            <p id="p1" style="color: goldenrod;"></p>
        </div>
        </br>
</br>
<div id="d2">
    <lable for="Lastname ">Last Name</lable>
    <input type="text" name="Lastname" id="Lastname"/>
    <p id="p2" style="color: goldenrod;"></p>
</div></br>
        </br>

        <div id="d3">
            <lable for="email ">E-mail</lable>
            <input type="text" name="email" id="email"/>
            <p id="p3" style="color: goldenrod;"></p>
        </div>
        </br>
        </br>
        <div id="d4">
            <lable for="Password ">password</lable>
            <input type="text" name="Password" id="Password1"/>
            <p id="p4" style="color: goldenrod;"></p>
        </div>
        </br>
        </br>
        <div id="d5">
            <lable for="password ">Conform password</lable>
            <input type="text" name="password" id="password2"/>
            <p id="p5" style="color: goldenrod;"></p>
        </div>
        </br>
        </br>
        <button type=" Submit"> <a href="LogIn Form.html" target="_blank"> Register</a></button>
    </form>
    </center>
    </div>
<!--<link rel="stylesheet" href="style.css"/>-->
<script src="validation.js"></script>

</body>
</html>