<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title style="text-align: center;" 
    .myDiv {
        border: 5px outset red;
        background-color: lightblue;    
        text-align: center;
      }> Welcome Page
    </title>  
        <header> 
            <img style="display: block;-webkit-user-select: none;margin: left: auto;;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjCEUbryXNND2fDJRKtu5OcvF5mJJKqIRNQw&amp;usqp=CAU">
</header>

</head>
</br>
<body>
    <nav>
        <a href="Welcome Form.html">Home</a>
        <a href="LogIn Form.html">Logout</a>
    </nav> 
    <h1>Hi HTML</h1>
</body>
</html>